<div class="mt-4">
  <div class="container">
    <h3>Edit your course</h3>
    <form method="post" action="/courses/{{this._id}}?_method=PUT">
      <div class="mb-3">
        <label for="name" class="form-label">Name of course</label>
        <input type="text" class="form-control" id="name" name="name" value="{{this.name}}">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description of course</label>
        <input type="text" class="form-control" id="description" name="description" value="{{this.description}}">
      </div>
      <div class="mb-3">
        <label for="videoId" class="form-label">Video ID</label>
        <input type="text" class="form-control" id="videoId" name="videoId" value="{{this.videoId}}">
      </div>
      <button type="submit" class="btn btn-primary">Save this course</button>
    </form>
  </div>
</div>